
/* React */
.App-logo {
  /* height: 40vmin; */ 
  height: 10vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App {
  text-align: center;
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  line-height: 1.5;
  
  }

.App-header {
  display: flex;
  flex-direction: line;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #242424;
  padding: 1rem; 
}

.App-lang{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* width: 100%; */
  
}

.App-lang--button{
  cursor: pointer; 
  margin: 0.2rem;
  
}
.App-lang--button img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: #ffffffde 2px solid;
}

.Main{
  width: 80%;
  margin:  auto;
}



.App-link:hover {
  color: #e8842d;
  cursor: pointer;
}



