
/* React */
.App-logo {
  /* height: 40vmin; */ 
  height: 10vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}
/*****************************/

.App {
  text-align: center;
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  line-height: 1.5;
  overflow-x: hidden;  
  }

.App-header {
  display: flex;
  flex-direction: line;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #242424;
  padding: 1rem; 
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.Main{
  width: 80%;
  margin:  100px auto;
}

.App-link:hover {
  /* color: #e8842d; */
  color: #6498f1;;
  cursor: pointer;
}



