.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  
}

.App-logo {
  /* height: 40vmin; */ 
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: line;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #31593d;
  padding: 1rem; 
  
}
.App-nav--ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.App-nav--li{
  list-style: none;
  margin: 0 1rem;
  border-bottom: 2px solid white;
}

.App-lang{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  
}

.App-lang--button{
  border: white 1px solid;
  cursor: pointer; 
}

.App-section {
  min-height: 100vh;
  max-width: 800px;
  scroll-margin-top: 7rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.App-arrow {
  display: flex;
  flex-direction: line;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.App-arrow--up {
  cursor: pointer;
  z-index: 1;
}
.App-arrow--down {
  cursor: pointer;
  z-index: 1;
}

.App-link:hover {
  
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
