.Section{
    min-height: 80vh;
    /* scroll-margin-top: 5rem;*/
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: white 1px solid;
  
    /* scroll-behavior: smooth;
    scroll-snap-align: start;
    height: 100vh; */
}

.Section--title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }