.Section{
    min-height: 100vh;
    max-width: 800px;
    /* scroll-margin-top: 5rem;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* scroll-behavior: smooth;
    scroll-snap-align: start;
    height: 100vh; */
}

.Section--title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }