.section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px auto 100px auto;
    
    

    /* For Tablet and Desktop */
    @media screen and (min-width: 768px) {
            // max-width: 1000px;
            max-width: 80%;
            align-items: center;
           /* Make some space for the top navbar */
            scroll-margin-top: 5rem;
            margin: 100px auto 150px auto;
            min-height: 90vh;
    }
}

.sectionTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--primary-color);
  }