.burgerMenuContainer{
}
/* Burger Button */
.burgerMenuButton{
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 91;
    
}
/* Burger Button Open/Closed */
.menuButton,
.menuButtonOpen{
    position: relative;
    display: flex;
    // border: 3px solid var(--text-color);
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
/* Burger middle line */
.menuButtonLine{
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: var(--text-color);  
    transition: transform 0.5s ease-in-out;   
}
/* Burger top and bottom lines */
.menuButtonLine::before, .menuButtonLine::after{
    content: "";
    position: absolute;
    left : 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out ;
    background: var(--text-color);  
}
/* Burger top line */
.menuButtonLine::before {
    transform: translateY(-10px);
}
/* Burger bottom line */
.menuButtonLine::after {
    transform: translateY(10px);
}
.menuButtonOpen .menuButtonLine {
    transform: translateX(-50px);
    background: transparent;
}

.menuButtonOpen{ 
     .menuButtonLine::before, .menu-buttonLine::after{
        background: var(--text-color);  
    }
    .menuButtonLine::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menuButtonLine::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }
}

/* Menu */
.burgerMenuItemContainer,
.burgerMenuItemContainerClosed{

    background-color: var(--secondary-color);
    width: 200px;
    height: 100vh;
    position: fixed;
    bottom: 0px;
    right: -1px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 90;
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.burgerMenuItemContainerClosed {
    transform: translateX(100%);
    height: 0;
    overflow: hidden;
    
}
.burgerMenuItem{
    margin : 10px auto;
    font-size: 1.5rem;
    cursor: pointer;
}

.burgerMenuThemeButton{
    margin: 0 auto;
}