.contact {
    /* display: flex;
    flex-direction: line;
    text-align: left; */
    width: 50%;
}

.contact form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-right: 20px;
    padding: 20px;
    /* background-color: var(--secondary-color); */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
}

.contact form textarea {
    height: 100px;
    resize: none;
    margin-bottom: 10px;
}

.contact form > input, textarea {
    background-color: var(--secondary-color); 
    padding: 5px;     
    border: none;
}

.contact form > button {
    align-self: center;
    margin-top: 0px;
}