.sidebar{
    position: fixed;
    top: -20%;
    left: 5%;
    height: 100%;
    z-index: 100;
    transform: translateX(-300%);
    // transition: 2s ease-in-out;
    transition: transform 2s ease-in-out, top 2s ease-in-out;
    @media screen and (max-width: 768px) {
        left: 7%;
    }
}
.sidebar.active {
    top: 30%;
    transform: translateX(-80%);
    @media screen and (min-width: 768px) {
        top: 20%;
    }
  }

.sidebar .icon{
    color: var(--primary-color);
    margin-top: 15px;
    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
        margin-top: 15px;
    }
}

.sidebar .icon:hover {
    color: var(--text-color); 
    scale: 1.2;
}

