.sidebar{
    position: fixed;
    top: -20%;
    left: 5%;
    height: 100%;
    z-index: 100;
    transform: translateX(-100%);
    transition: 2s ease-in-out;
}

.sidebar .icon-wrapper{
    /* color: white;
    background-color: black */
}

.sidebar .icon{
    /* color: var(--text-color); */
    color: var(--primary-color);
    /* border: 1px solid var(--text-color); */
    /* background-color: white; */
}

.sidebar .icon:hover {
    /*color: var(--primary-color);*/
    color: var(--text-color); 
    scale: 1.2;
}

.sidebar.active {
    top: 50%;
  }