.about{
    white-space: pre-line;
    p {
        text-align: left;
    }
    
    @media screen and (min-width: 768px) {
        display: contents;
        p {
            align-self: center;
            margin: 0 auto;
        }
    }       
}

.resumeContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem auto 0 auto;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
    @media screen and (max-width: 768px) {
        align-items: center;
        gap: 10px;
    }
}

