/* NOT USED  ANYMORE */
/* TO REMOVE */
.Work-wrapper {
  display: flex; 
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 0.5rem;
  margin: 1rem;
  max-width: fit-content;
  text-align: left;
  border-radius: 0.3rem;  
}

.Work-wrapper:hover {
  background-color: #535353;
  border : 1px solid rgba(255, 255, 255, 0.3);
  scale: 1.1;
  transition: all 0.2s ease-in-out;

} 

.Work-details {
  
}

