.timeline-container{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 800px; 
}

/* The vertical Line */
.timeline-container::after{
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 4px;
  height: 100%;
  left: calc(50% - 4px);
}