/* Left side of the timeline */
.timeline-item {
  /* background-color: #d3d2d2; */
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin: 10px 0;
  width: 50%;
}
/* Right side of the timeline */
.timeline-item:nth-child(odd){
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 50px;
}
/* The actual item content*/
.timeline-item-content {
  background-color: #242424;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  border-radius: 10px;
  z-index: 2;
  padding: 20px;
  text-align: right;
}
.timeline-item:nth-child(odd) .timeline-item-content{
  align-items: flex-start;
  text-align: left;
}

/* Item arrow */
.timeline-item-content::after { 
  content: "";
  position: absolute;
  --width: 15px;
  --height: 15px;
  width: var(--width);
  height: var(--height);
  top: calc(50% - var(--height)/2);
  right: calc(var(--width)/-2); 
  background-color: #242424; 
  transform: rotate(45deg);
  z-index: -1;
}
.timeline-item:nth-child(odd) .timeline-item-content::after {
  left: calc(var(--width)/-2);
  right: auto ;
  z-index: -1;
}

/* Circle centered on the timeline at the item height*/ 
.timeline-item-content .circle {
  background-color: white;
  width: 20px;
  --height: 20px;
  height: var(--height);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - var(--height)/2);
  right: -58px;
  z-index: 1;
}

.timeline-item:nth-child(odd) .circle{
  left: -62px;
  right: auto;
}

.category{
  
}
