
/* Burger/Cross button */
.burger-menu--button{
    background-color: var(--tertiary-color);
    color: var(--background-color);
    position: fixed;
    bottom: 0px;
    right: -1px;
}

.burger-menu-item-container{
    background-color: var(--tertiary-color);
    width: 200px;
    height: 100%;
    position: fixed;
    bottom: 20px;
    right: -1px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 100;
    color: var(--secondary-color);
}
.burger-menu-item-container--closed{
    display: none;
}
.burger-menu-item{
    margin : 10px auto;
    font-size: 1.5rem;
    cursor: pointer;
}

.burger-menu--theme-button{
    margin: 0 auto;
}