
.Navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
}

.Navbar--ul{
  display: flex;
  flex-direction: column;;
}
.Navbar--li{
  list-style: none;
  margin: 0 1rem;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .Navbar{
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
  }
  
  .Navbar--ul{
    display: flex;
    flex-direction: row;
  }
  .Navbar--li{
    list-style: none;
    margin: 0 1rem;
    font-size: 15px;
    /* font-weight: 600; */
  }
}