
.App-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
}

.App-nav--ul{
  display: flex;
  flex-direction: column;;
}
.App-nav--li{
  list-style: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .App-nav{
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
  }
  
  .App-nav--ul{
    display: flex;
    flex-direction: row;
  }
  .App-nav--li{
    list-style: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
}