.Intro{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 100%;
    margin: 40px 20px 20px 40px;
}

.Intro .hello {
    font-size: 2rem;
    font-weight: 400;
    /* color: #dda431; */
    /* color: #7fa8f6 ; */
    /* color: #243cb7 */
    /* color:#39b3fe; */
    color:#6498f1;
    /* color:#1885fe; */
    /* color: #5a79e4; */
}


 h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffffde;
}

 h2{
    font-size: 2rem;
    font-weight: 400;
    
}

.Intro p {
    font-size: 1.2rem;
    font-weight: 400;
}

.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.photo-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    /* border: #470b2c  5px solid;*/
    border: #ffff  5px solid;
    background-color: #eaeaea;
    margin: 50px;
    
}

.photo-container img{
    position: absolute;
    top: 10px;
    left: -18px;
    width: 110%;
    height: 110%;
    object-fit: contain;
    object-position: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

/* .button{
    margin-top: 50px;
    width: 200px;
    height: 50px;  
    background: linear-gradient(134deg, #79a3f0 0%, #4760dc 99%);     
    /* background: linear-gradient(134deg, #e6b553 0%, #e8842d 99%);    */
    /* background-image: linear-gradient(to right, #ffb347 0%, #ffcc33  51%, #ffb347  100%); */
   /* border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
} */
.button {
    margin-top: 50px;
    width: 200px;
    height: 50px;
    background: linear-gradient(134deg, #79a3f0 0%, #4760dc 99%);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    overflow: hidden;
  }
  .button a {
    position: relative;
    z-index: 2;
  }
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 200px 100%;
    background-repeat: no-repeat;
    background-position: -200px 0;
    z-index: 1;
  }
  .button:hover::before {
    animation: flash 0.3s linear;
  }
  .button-flash-reverse::before {
    animation: flashReverse 0.3s linear;
  }
  

  @keyframes flash {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: 200px 0;
    }
  }

  @keyframes flashReverse {
    0% {
      background-position: 200px 0;
    }
    100% {
      background-position: -200px 0;
    }
  }
.button2{
    margin-top: 50px;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}

/* .button:hover, .button2:hover {
    scale : 1.07;
    transition: scale 0.2s ease 0s 
} */
