.Intro{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 100%;
    margin: 40px 20px 20px 40px;
}

.Intro .hello {
    font-size: 2rem;
    font-weight: 400;
    /* color: #dda431; */
    /* color: #7fa8f6 ; */
    /* color: #243cb7 */
    /* color:#39b3fe; */
    color:#6498f1;
    /* color:#1885fe; */
    /* color: #5a79e4; */
}


 h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffffde;
}

 h2{
    font-size: 2rem;
    font-weight: 400;
    
}

.Intro p {
    font-size: 1.2rem;
    font-weight: 400;
}

.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.photo-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    /* border: #470b2c  5px solid;*/
    border: #ffff  5px solid;
    background-color: #eaeaea;
    margin: 50px;
    
}

.photo-container img{
    position: absolute;
    top: 10px;
    left: -18px;
    width: 110%;
    height: 110%;
    object-fit: contain;
    object-position: center;
}

