.Intro{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
 

    /* Desktop */
    @media screen and (min-width: 768px) {  
        p{
          text-align: center;
          margin: 0 auto;
        }  
    }
}
.titles{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.Intro .hello {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--primary-color);
}
  
  /* Mobile Medium */
  @media screen and (min-width: 375px) {
    .Intro .hello {
      font-size: 1.4rem;
      font-weight: 300;
    }
  }
  
  /* Mobile Large */ 
  @media screen and (min-width: 414px) {
    .Intro .hello {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
  
  /* Tablet Portrait */
  @media screen and (min-width: 768px) {
    .Intro .hello {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
  
  /* Tablet Landscape and Desktop */
  @media screen and (min-width: 1024px) {
    .Intro .hello {
      font-size: 2rem;
      font-weight: 400;
    }
  }

 h1{
    font-size: 2.5rem;
    font-weight: 700;
}

 h2{
    font-size: 2rem;
    font-weight: 400;
}

.Intro p {
    font-size: 1.2rem;
    font-weight: 400;
}

.photo-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    /* border: #470b2c  5px solid;*/
    border: var(--text-color)  5px solid;
    background-color: #eaeaea;
    margin: 50px;
    
}

.photo-container img{
    position: absolute;
    top: 10px;
    left: -18px;
    width: 110%;
    height: 110%;
    object-fit: contain;
    object-position: center;
}

.buttons-container{
    display: flex;
    justify-content: center;    
}


.Intro--header{
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
    }
}