.Projects {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.Project {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem;
  margin: 1rem;
  max-width: 30%;
  text-align: left;
  border-radius: 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Project:hover {
  background-color: var(--tertiary-color);
  color: var(--background-color)
}

.Project__image {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.Project__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: fit-content;
}

.Project__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  font-style: italic;
  font-size: 0.8rem;
}

.Project__title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.Project__description {
  margin-bottom: 0.5rem;
}

.Project__actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.Project__action {
  margin-right: 1rem;
}