.Projects {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -1rem;
  @media screen and (min-width: 768px) {
    // justify-content: flex-start;
    
  }
}

.Project {

  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  
  // width: 100%;
  min-width: 280px;
  
  padding: 0.5rem;
  margin: 1rem;
  text-align: left;
  border-radius: 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 768px) {
    width: 30%;    
  }

}

.Project:hover {
  background-color: var(--tertiary-color);
  color: var(--background-color)
}

.Project__image {
  max-width: 250px;
  max-height: 150px;
  object-fit: cover;;
}

.Project__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: fit-content;
}

.Project__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  font-style: italic;
  font-size: 0.8rem;
}

.Project__title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.Project__description {
  margin-bottom: 0.5rem;
}

.Project__actions {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  align-items: baseline;
}

.Project__action {
  margin: 0 1rem;
  :hover
  {
    color: var(--primary-color);
  }
}