
.Skills-container{
    display: flex;
    width : 100%;
    justify-content: space-around;   
    flex-wrap: wrap; 
}

.Skills-category{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    background-color: #242424;
    padding-top: 10px;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .Skills-category{
        min-width: 100%;
    }
}
    

.Skills-category h2 {
    margin-bottom: 20px;   
    display: flex;
    justify-content: center;
    
 }

 .skill-wrapper{
    display: flex; 
    margin-left: 40px;
    margin-top: 10px;
}

.skill-wrapper svg{
    margin-right: 10px;
}