
.Skills-container{
    display: flex;
    width : 100%;
    justify-content: center;   
    flex-wrap: wrap; 

}

.Skills-category{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .Skills-category{
        min-width: 100%;
        margin-bottom: 20px;
    }
}
    

.Skills-category h2 {
    margin-bottom: 20px;   
    display: flex;
    justify-content: center;    
 }

 .skill-wrapper{
    display: flex; 
    margin-left: 40px;
    margin-top: 10px;
}

.skill-wrapper svg{
    margin-right: 10px;
}

.skill-wrapper:hover{
    color: var(--primary-color);
    cursor: default;
}