.App-arrow {
    display: flex;
    flex-direction: line;
    position: fixed;
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    background-color: #343434;
  }
  .App-arrow--up {
    cursor: pointer;
    z-index: 1;
  }
  .App-arrow--down {
    cursor: pointer;
    z-index: 1;
  }