.arrow {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: line;
      position: fixed;
      bottom: 5%;
      right: 5%;
      transform: translateX(-50%);
      transition: all 0.5s ease-in-out;
    }    
  }
  .arrowUp {
    cursor: pointer;
    z-index: 1;
  }
 
  .arrowDown {
    cursor: pointer;
    z-index: 1;
  }