.About{
    white-space: pre-line;
    text-align: left;
}

/* TODO: RESPONSIVE*/
.resume-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.resume{
    margin-right: 10px;
}